.hamburger-menu {
  color: #fff;
  cursor: pointer;
  font-size: 2.6rem;
  position: relative;
  z-index: 1500;

  @media screen and (min-width: 1000px) {
    display: none;
  }

  .fa-times {
    display: none;
  }
}
